:root {
    --primary-color: steelblue;
    --secondary-color: #A19175;
    --accent1-color: #608DAB;
    --accent2-color: brown;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

.grid img {
    width: 200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    flex: 1 1 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    list-style: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: white;
}

h2 {
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: white;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
}

.history img {
    width: 250px;
    height: auto;
    margin: 0;
}

.article {
    position: absolute;
    bottom: 150px;
    width: 90%;
    padding: 1px;
    margin: 0 0 15px 44px;
    opacity: 0.8;
    text-align: left;
    background-color: var(--accent1-color);
    color: white;
}

.hero article img {
    float: right;
    width: 10rem;
}

.adventure {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sights {
    display: flex;
    justify-content: space-between;
}

.sights img {
    display: grid;
    align-items: center;
    width: 150px;
    height: 100px;
}

.sights figcaption {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
}

footer p {
    margin: 0 auto;
    font-size: 1rem;
}

.social img {
    width: 50px;
    height: 50px;
}

/* Contacts Section */

.contact-info {
    text-align: center;
    font-size: 1.25rem;
}

.contact-info {
    text-align: center;
    font-size: 1.25rem;
}

.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map iframe {
    width: 100%;
    border-style: none;
    padding: 16px;
}

.contact-form {
    display: grid;
    margin: 1rem auto;
    padding: 16px;
    align-items: center;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 5px;
}

.message-purpose {
    display: grid;
    grid-template-columns: 1fr;
}

.purpose {
    padding: 1rem;
}

.message-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

.subscription {
    margin-top: 10px;
    align-content: center;
}

input[type="checkbox"] {
    vertical-align: middle;
}

button {
    margin: 1rem auto;
    width: 100%;
    background-color: rgb(209, 179, 103);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.contact-team {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profiles {
    display: flex;
    justify-content: space-evenly
}

.profiles img {
    display: grid;
    align-items: center;
    width: 125px;
    height: auto;
}

.profiles figcaption {
    display: flex;
    justify-content: center;
}